/*
* Colors of wine scale.
* @group Styles
*/
:root {
  --juquinha-wine-100: #f5f2f2;
  --juquinha-wine-200: #eae5e5;
  --juquinha-wine-300: #d2c7c7;
  --juquinha-wine-400: #b8a3a4;
  --juquinha-wine-500: #9a7678;
  --juquinha-wine-600: #732029;
  --juquinha-wine-700: #671d25;
  --juquinha-wine-800: #591920;
  --juquinha-wine-900: #49141a;
  --juquinha-wine-1000: #330e12;
}
