<juquinha-field-container
  [disabled]="disabled()"
  [label]="label()"
  [subLabel]="subLabel()"
  [hintText]="hintText()"
  [fieldId]="id()"
  [tooltipTitle]="tooltipTitle()"
  [tooltipText]="tooltipText()"
  [tooltipIcon]="tooltipIcon()"
  [tooltipPosition]="tooltipPosition()"
>
  <div class="field-picker-container">
    <input
      class="field-picker"
      [id]="id()"
      type="color"
      [value]="value"
      (input)="onColorChange($event)"
      (change)="onColorChange($event)"
      [disabled]="disabled()"
      [ngClass]="getDefaultStylesClass()"
    />
    <p class="color--value" (click)="copyToClipboard()">
      {{ copyText() == "" ? formattedColor() : copyText() }}
    </p>
  </div>

  @if (showErrorMessage()) {
  <div class="field-error">
    <small class="field-error__text">{{ getErrorMessage() }}</small>
  </div>
  }
</juquinha-field-container>
