.juquinha-button {
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--juquinha-button-gap);
  background-color: var(--juquinha-button-color);
  color: var(--juquinha-button-text-color);
  border-radius: var(--juquinha-button-border-radius);
  font-weight: var(--juquinha-button-font-weight);
  transition: 0.3s;

  &:hover {
    background-color: var(--juquinha-button-color-hover);
  }

  &:focus {
    box-shadow: var(--juquinha-button-box-shadow-focus);
  }

  &:disabled {
    opacity: var(--juquinha-button-disabled-opacity);
    pointer-events: none;
  }

  &.fullWidth {
    width: 100%;
  }

  &.size- {
    &small {
      font-size: var(--juquinha-button-small-font-size);
      padding: var(--juquinha-button-small-padding);
    }

    &medium {
      font-size: var(--juquinha-button-medium-font-size);
      padding: var(--juquinha-button-medium-padding);
    }

    &large {
      font-size: var(--juquinha-button-large-font-size);
      padding: var(--juquinha-button-large-padding);
    }
  }

  &.variant- {
    &primary {
      &.theme- {
        &error {
          background-color: var(--juquinha-error-color);

          &:hover {
            background-color: var(--juquinha-error-color-hover);
          }

          &:focus {
            box-shadow: var(--juquinha-button-error-box-shadow-focus);
          }
        }

        &light {
          background-color: var(--juquinha-primary-color-light);
          color: var(--juquinha-primary-color);

          &:hover {
            background-color: var(--juquinha-primary-color-light-hover);
          }
        }

        &neutral {
          background-color: var(--juquinha-neutral-color-100);
          color: var(--juquinha-neutral-color-900);
        }
      }
    }

    &secondary {
      background-color: transparent;
      border: 1px solid var(--juquinha-button-color);
      color: var(--juquinha-button-text-color-in-light);

      &:hover {
        border: 1px solid var(--juquinha-button-color-hover);
        background-color: transparent;
      }

      &.theme-error {
        color: var(--juquinha-button-error-text-color-in-light);
        border: 1px solid var(--juquinha-error-color);

        &:hover {
          border: 1px solid var(--juquinha-error-color-hover);
        }

        &:focus {
          box-shadow: var(--juquinha-button-error-box-shadow-focus);
        }
      }
    }

    &tertiary {
      color: var(--juquinha-button-text-color-in-light);
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      &.theme-error {
        color: var(--juquinha-button-error-text-color-in-light);

        &:focus {
          box-shadow: var(--juquinha-button-error-box-shadow-focus);
        }
      }
    }
  }

  &:disabled {
    background-color: var(--juquinha-button-disabled-background-color);
    color: var(--juquinha-button-disabled-text-color);
    pointer-events: none;
    border: 1px solid transparent;
  }
}

juquinha-icon {
  pointer-events: none;
}
