:root {
  --juquinha-tooltip-background-color: var(--juquinha-neutral-color-1100);
  --juquinha-tooltip-border: 1px solid var(--juquinha-neutral-color-1100);
  --juquinha-tooltip-max-width: 200px;
  --juquinha-tooltip-text-color: var(--juquinha-neutral-color-0);
  --juquinha-tooltip-border-radius: 4px;
  --juquinha-tooltip-padding: 8px;
  --juquinha-tooltip-gap: 8px;
  --juquinha-tooltip-arrow-color: 5px solid var(--juquinha-neutral-color-1100);
}
