<juquinha-field-container
  [iconLeft]="iconLeft()"
  [iconRight]="iconRight()"
  [disabled]="disabled()"
  [label]="label()"
  [subLabel]="subLabel()"
  [hintText]="hintText()"
  [fieldId]="id()"
  [active]="focused() || value"
  [mode]="config.fieldMode ?? 'static'"
  [tooltipTitle]="tooltipTitle()"
  [tooltipText]="tooltipText()"
  [tooltipIcon]="tooltipIcon()"
  [tooltipPosition]="tooltipPosition()"
>
  <input
    class="field"
    [id]="id()"
    [value]="value"
    [type]="type()"
    [placeholder]="
      config.fieldMode === 'static' || focused() ? placeholder() : ''
    "
    [mask]="mask()"
    [autocomplete]="autocomplete()"
    [ngClass]="getDefaultStylesClass()"
    [tabIndex]="disabled() ? -1 : 1"
    [maxLength]="maxLength()"
    (keyup)="handleKeyPressed($event)"
    (focus)="onHandleFocus()"
    (input)="onInput($event)"
    (blur)="handleBlur()"
  />

  @if (showErrorMessage()) {
  <div class="field-error">
    <small class="field-error__text">{{ getErrorMessage() }}</small>
  </div>
  }
</juquinha-field-container>
