/*
* Colors of green scale.
* @group Styles
*/
:root {
  --juquinha-green-100: #f5f9f4;
  --juquinha-green-200: #eaf1e7;
  --juquinha-green-300: #d1e1cd;
  --juquinha-green-400: #b0cbaa;
  --juquinha-green-500: #91bf98;
  --juquinha-green-600: #64ab70;
  --juquinha-green-700: #599964;
  --juquinha-green-800: #4d8457;
  --juquinha-green-900: #3f6c47;
  --juquinha-green-1000: #2d4c32;
}
