/*
* Colors of indian red light scale.
* @group Styles
*/
:root {
  --juquinha-indian-red-light-100: #fcf4f4;
  --juquinha-indian-red-light-200: #f9e8e9;
  --juquinha-indian-red-light-300: #f3cfd0;
  --juquinha-indian-red-light-400: #edb2b4;
  --juquinha-indian-red-light-500: #e79093;
  --juquinha-indian-red-light-600: #e06268;
  --juquinha-indian-red-light-700: #c8585d;
  --juquinha-indian-red-light-800: #992936;
  --juquinha-indian-red-light-900: #8e3e42;
  --juquinha-indian-red-light-1000: #642c2f;
}
