<div class="example">
  <juquinha-card
    imageSrc="https://fastly.picsum.photos/id/989/1024/768.jpg?hmac=W62eWZQK2cghg92M8MgY6gzBXEOC1xXI-RywymXPvu4"
    imageAlt="Hotel Bendito Cacao"
    title="Título"
    subtitle="Subtítulo"
    [content]="content()"
  />

  <juquinha-card
    imageSrc="https://fastly.picsum.photos/id/989/1024/768.jpg?hmac=W62eWZQK2cghg92M8MgY6gzBXEOC1xXI-RywymXPvu4"
    imageAlt="Hotel Bendito Cacao"
    title="Título"
    badgeLabel="Badge"
    badgeColor="var(--juquinha-error-color)"
    subtitle="Subtítulo"
    [content]="content()"
  />

  <juquinha-card
    icon="select-box"
    title="Título"
    subtitle="Subtítulo"
    [content]="content()"
  />

  <juquinha-card
    icon="warning-triangle"
    badgeIconSize="12"
    badgeLabel="Badge"
    iconColor="var(--juquinha-error-color)"
    badgeIcon="warning-triangle-filled"
    title="Título"
    subtitle="Subtítulo"
    [content]="content()"
  />

  <juquinha-card
    badgeLabel="Badge"
    [content]="content()"
    title="Título"
    [totalLines]="6"
  />

  <juquinha-card
    imageSrc="https://fastly.picsum.photos/id/989/1024/768.jpg?hmac=W62eWZQK2cghg92M8MgY6gzBXEOC1xXI-RywymXPvu4"
    imageAlt="Hotel Bendito Cacao"
    title="Título"
    subtitle="Subtítulo"
  />

  <juquinha-card
    imageSrc="https://fastly.picsum.photos/id/544/1024/768.jpg?hmac=AV0HMUy9lpajDDbsLNrKLqX4CtRR9ZPLBF7z6IJNS1Y"
    imageAlt="Hotel Bendito Cacao"
    title="Título"
    subtitle="Subtítulo"
    [content]="content()"
    badgeLabel="Ativo"
  >
    <div class="juquinha-card__header">
      <p style="margin: 16px 0">div.juquinha-card__header</p>
    </div>

    <div class="juquinha-card__body">
      <p style="margin: 8px 0">div.juquinha-card__body</p>
    </div>

    <div>
      <p style="margin: 8px 0">Seletor padrão</p>
    </div>

    <div class="juquinha-card__footer">
      <p style="margin: 8px 0">div.juquinha-card__footer</p>
    </div>
  </juquinha-card>
</div>
