:root {
  --juquinha-label-float-transform: translate(12px, 20px);
  --juquinha-label-float-transform-active: translate(16px, 12px);
  --juquinha-label-float-transform-with-icon: translate(36px, 20px);
  --juquinha-label-float-transform-with-icon-active: translate(36px, 12px);

  --juquinha-icons-transform: translateY(16px);
  --juquinha-icons-float-transform: translateY(16px);
}
