<!-- card.component.html -->
@if (message()) {
<div
  class="juquinha-card"
  (click)="handleClick()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="toastClass()"
>
  <!-- Barra de progresso -->
  @if (message().time && message().time! > 0) {
  <div class="juquinha-card__progress-container">
    <div class="juquinha-card__progress-bar" [style.width.%]="progress()"></div>
  </div>
  }

  <div class="juquinha-card__message">
    @if (icon()) {
    <div class="message__icon">
      <juquinha-icon
        [name]="icon()"
        size="20px"
        [rotate]="icon() == 'loader'"
      />
    </div>
    }

    <div class="message__content">
      <p class="content__title text-bold">
        {{ message().title }}
      </p>
      <p class="content__detail">
        {{ message().detail }}
      </p>
      @if (message().link) {
      <div class="mt-1">
        <a class="content__link text-bold" (click)="navigateToLink($event)">{{
          message().linkName
        }}</a>
      </div>
      }
    </div>
  </div>

  <button
    class="juquinha-card__close"
    type="button"
    (click)="handleClickClose()"
  >
    <juquinha-icon
      name="close"
      [color]="
        ['default', 'info', 'error'].includes(message().severity!)
          ? '#ffffff'
          : 'var(--juquinha-neutral-color-1000)'
      "
      size="20"
    />
  </button>
</div>
}
