/*
* Shapes, sizes and colors of dividers components.
* @group Styles
*/
:root {
  --juquinha-divider-text-color: var(--juquinha-neutral-color-700);
  --juquinha-divider-line-color: var(--juquinha-neutral-color-400);
  --juquinha-divider-icon-color: var(--juquinha-neutral-color-400);
  --juquinha-divider-gap: 12px;
}
